In [7]:
import pandas as pd
url = 'https://raw.githubusercontent.com/elizabethts/deploy-mlm-flask-heroku/master/titanic.csv'
df_ship = pd.read_csv(url)
df_ship.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [8]:
from sklearn.linear_model import LogisticRegression
train = df_ship
# drop null values
df_ship.dropna(inplace=True)
# features and target
target = 'Survived'
features = ['Pclass', 'Age', 'SibSp', 'Fare']
# X matrix, y vector
X = train[features]
y = train[target]
# model ``
model = LogisticRegression()
model.fit(X, y)
model.score(X, y)

C:\Users\Kede\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7049180327868853

In [19]:
import pickle
pickle.dump(model, open('model.pkl','wb'))

In [13]:
import requests
import json
# local url
url = 'http://127.0.0.1:5000/'

In [14]:
# sample data
data = {'Pclass': 3
      , 'Age': 2
      , 'SibSp': 1
      , 'Fare': 50}
data = json.dumps(data)

In [20]:
send_request = requests.post(url, data)
print(send_request)

<Response [200]>

In [22]:
print(send_request.json())

{'results': {'results': 1}}